* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  /*
   * Variable declarations, available everywhere on the page
   */
  --bg: #222;
  --bg-light: #333;
  --gray: #c5c6c7;
  --cyan: #66fcf1;
  --pink: #f64c72;
  --text: #fafafa;
  --text-muted: #c0c0c0;
  --link-blue: #6495ED;

  font-size: 16px;
  font-family: sans-serif;

  line-height: 1.5;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;

  font-kerning: normal;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav a + a,
footer a + a {
  margin-left: 0.5em;
}

body {
  background: var(--bg);
  color: var(--text);

  max-width: 60ch;
  margin: 1em auto 1em auto;
  padding: 0 0.5rem;
  overflow-x: hidden;
}

footer {
  width: 100%;
  text-align: center;
  padding-bottom: 3em;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  color: var(--link-blue);
}

p {
  margin: 1em 0;
}

span {
  color: var(--text-muted);
}

ul {
  margin-left: 2rem;
}

ul.posts {
  margin: 1em 0;
  list-style-type: none;
}

ul.posts li {
  margin: 0.5em 0;
  color: var(--text-muted);
}

ul.posts b {
  display: flex;
  align-items: center;
  font-size: 0.80rem;
}

ul.posts a {
  display: block;
  color: var(--pink);
  font-size: 1rem;
  margin-left: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0 0.25em 0;
}
h1, h3 { color: var(--cyan); }
h2 { color: var(--pink); }

pre {
  padding: 1rem;
  background-color: var(--bg-light);
  overflow: auto;
}

code {
  background-color: var(--bg-light);
}

blockquote {
  font-family: serif;
  font-size: 1rem;
  color: var(--text);
  line-height: 125%;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 0.5rem solid var(--bg-light);
}

img {
  display: block;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
  height: auto;
}

video {
  display: block;
  width: 100% !important;
  height: auto !important;
  background-color: black;
}

hr {
  width: 3em;
  border: 0.25em;
  border-style: none none solid;
  color: var(--text);
  margin: 0 auto;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
