
@font-face {
    font-family: 'TX-02-Black-SemiCondensed-Oblique';
    src: url('TX-02-Black-SemiCondensed-Oblique.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'TX-02-Black-SemiCondensed';
    src: url('TX-02-Black-SemiCondensed.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TX-02-SemiCondensed-Oblique';
    src: url('TX-02-SemiCondensed-Oblique.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TX-02-SemiCondensed';
    src: url('TX-02-SemiCondensed.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "TX-02-SemiCondensed", monospace;
}

html {
  /*
   * Colors.
   * Theme based around --ivy-600 (#4b604e)
   */
  --ivy-50:     #f3f6f3;
  --ivy-100:    #e4e8e3;
  --ivy-200:    #c8d2c8;
  --ivy-300:    #a3b2a4;
  --ivy-400:    #798e7b;
  --ivy-500:    #59705b;
  --ivy-600:    #4b604e;
  --ivy-700:    #364638;
  --ivy-800:    #2d382f;
  --ivy-900:    #252f27;
  --ivy-950:    #141a15;

  --white:      #ffffff;
  --off-white:  #cccccc;
  --gray:       #666666;
  --black:      #000000;

  --cobalt:     #0042b0;
  --eminence:   #763378;
  --melrose:    #9292ff;
  --biloba:     #bc8be9;

  /*
   * Theme
   */
  --bg:              var(--ivy-50);
  --bg-alt:          var(--ivy-200);
  --text:            var(--black);
  --text-alt:        var(--ivy-600);
  --border:          var(--gray);

  --link-unvisited:  var(--cobalt);
  --link-visited:    var(--eminence);

  /*
   * Document styles
   */
  font-size: 12pt;

  line-height: 1.5;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;

  font-kerning: normal;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.light, .dark {
  display: none;
  font-family: "TX-02-Black-SemiCondensed", monospace;
}
html[data-theme="light"] .light {
  display: none;
}
html[data-theme="light"] .dark {
  display: block;
}
html[data-theme="dark"] .light {
  display: block;
}
html[data-theme="dark"] .dark {
  display: none;
}


html[data-theme="dark"] {
  --bg:              var(--ivy-950);
  --bg-alt:          var(--ivy-800);
  --text:            var(--white);
  --text-alt:        var(--ivy-400);
  --border:          var(--gray);

  --link-unvisited:  var(--melrose);
  --link-visited:    var(--biloba);
}

a {
  color: var(--link-unvisited);
}
a:visited {
  color: var(--link-visited);
}

body {
  background: var(--bg);
  color: var(--text);

  max-width: 82ch;
  margin: 1ch auto 1ch auto;
  padding: 0 1ch;
  overflow-x: hidden;
}

nav {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 2ch;
}

nav img {
  width: auto;
  height: 6ch;
}

footer {
  width: 100%;
  text-align: center;
  padding-bottom: 3ch;
}

p {
  margin: 1ch 0;
}

h1, h2, h3, h4, h5, h6 {
  /*margin: 0.5ch 0 0.25ch 0;*/
  font-family: "TX-02-Black-SemiCondensed", monospace;
  color: var(--text-alt);
  overflow-wrap: break-word;
}

pre {
  padding: 1ch;
  overflow: auto;
  background-color: var(--bg-alt);
  border: 0.125ch dashed var(--border);
}

code {
  background-color: var(--bg-alt);
  border: 0.125ch dashed var(--border);
}

blockquote {
  font-family: serif;
  font-size: 1ch;
  color: var(--text);
  line-height: 125%;
  margin-left: 1ch;
  padding-left: 1ch;
  border-left: 0.5ch solid var(--bg-alt);
}

img {
  display: block;
  margin: 0.5ch 0 0.5ch 0;
  padding: 0.5ch 0 0.5ch 0;
  width: 100%;
  height: auto;
}

video {
  display: block;
  width: 100% !important;
  height: auto !important;
  background-color: black;
}

hr {
  width: 100%;
  border: 0.125ch;
  border-style: none none dashed;
  color: var(--text);
  margin: 1ch auto;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

table {
  width: 100%;
}

table, thead, tbody, tr, td, th {
  /* border: 0.125ch dashed var(--border); */
  border: 0;
  border-collapse: collapse;
}

th, td {
  padding: 0.25ch;
  text-align: left;
  vertical-align: top;
}

th {
}

button {
  padding: 0.5em;
  cursor: pointer;
  background: var(--text-alt);
  color: var(--bg);
  box-shadow: 0.5ch 0.5ch 0ch var(--bg-alt);
  height: fit-content;
}

ul, ol {
  margin-left: 2ch;
}

.shrink {
  width: 1px;
}

